QPushButton {
    background-color: rgba(230,230,230,255);
    border: none;
    border-radius: 5px;
    margin: 0;
    text-align:right;
    padding-bottom: -15px;
    padding-right: 10px;
    color:rgb(143,143,143);
}

QPushButton:hover {
    background-color: rgba(125, 178, 53, 255);
    border: none;
}

QPushButton:pressed {
    background-color: rgba(141, 194, 69, 255);
    border: none;
}